<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="icon" type="image/x-icon" href="/public/img/favicon.jpg">
    <link rel="stylesheet" href= "/public/css/styles.css">
</head>

<div class="account">
    <span><a href="/" class="static-link">Home</a></span>
    <a href="/user/signup"><button type="button" class="signup">Sign Up</button></a>     
    <a href="/user/login"><button type="button" class="login">Login</button></a>
</div>

<div class="home">
    <a href="/"><button type="button" class="home">Home</button></a>
</div>

<body>
    <br>
    {{{body}}}
</body>

<footer> 

</footer>

</html>
