<main>
    <h1>Comments: </h1>
    <ul>
    {{#each comments}}
        <li>
            <p>{{this.comment.comment}}</p>
            <p>{{this.comment.reviewDate}}</p>
            <p>{{this.username}}</p>
            {{#if this.comment.edited}}
            <p>Edited</p>
            {{/if}}
            <p><a href="/{{this.id}}">Comment Page</a></p>
        </li>
    {{/each}}
    </ul>
</main>