<main>
    <h1>Something Went Wrong</h1>
    <p class="error">{{error}}</p>
    <img class="error" src="../public/img/error.png">
    <footer>
        <a href="/" class="static-link">Return Home</a>
    </footer>
</main>