<main>
    <h1>Something Went Wrong</h1>
    <p class="error">{{error}}</p>
    <div>
        <img class="error" src="../public/img/error.webp" alt="mad boba cat">
    </div>
    <footer>
        <a href="/" class="static-link">Return Home</a>
    </footer>
</main>