<main>
<form action="shop/{{id}}/flagForm" method="POST" id="flagForm">
    <label for="description">Flag Reason:
        <textarea id="description" name="description"></textarea>
    </label>
</form>
<footer>
    <a href="/shop/{{id}}">Back to shop</a>
</footer>
</main>