<main>
    <h1>{{title}}</h1>
    <form action="/searchmovies" method="POST">
        <label for="movie">Search a movie:</label>
        <input type="text" name="movie" id="movie" placeholder= "Enter a movie title">
        <button type="submit">Search</button>
        <button type="reset">Clear</button>
    </form>
</main>