<main>
    <h1>{{title}}</h1>
    <form action="/shops/search/" method="POST">
        <div id="container">
        <div>
            <label for="shop">
            Search By Name:
            <input class= "search-bar" type="text" name="shop" id="shop" value="{{search}}">
        </label>
        </div>
        <div>
            <label>
            Search By Items:
            <input class= "search-bar" type="text" name="itemKeyWord" id="itemKeyWord">
        </label>
        </div>
        <span class="filter">
            <label for="minRating">Minimum Rating</label>
            <input type="range" value="0" min="0" max="5" name="minRating" id="minRating" oninput="this.nextElementSibling.value = this.value">
            <output>0</output>
        </span>
        <span class="filter">
            <label for="minLikes">Minimum Likes</label>
            <input type="text" name="minLikes" id="minLikes" placeholder= "0" value="0">
        </span>
        <span class="filter">
            <label for="minReviews">Minimum Reviews</label>
            <input type="text" name="minReviews" id="minReviews" placeholder= "0" value="0">
        </span>
        <h4>Common Allergens Filter</h4>
            <dl id="allergenList">
                <dt></dt>
                <dd>
                    <input id="gluten" name="gluten" type="checkbox">
                    <label for="gluten">Gluten</label>
                </dd>
                <dd>
                    <input id="dairy" name="dairy" type="checkbox">
                    <label for="dairy">Dairy</label>
                </dd>
                <dd>
                    <input id="peanuts" name="peanuts" type="checkbox">
                    <label for="peanuts">Peanuts</label>
                </dd>
                <dd>
                    <input id="treenuts" name="treenuts" type="checkbox">
                    <label for="treenuts">Tree Nuts</label>
                </dd>
                <dd>
                    <input id="sesame" name="sesame" type="checkbox">
                    <label for="sesame">Sesame</label>
                </dd>
                <dd>
                    <input id="mustard" name="mustard" type="checkbox">
                    <label for="mustard">Mustard</label>
                </dd>
                <dd>
                    <input id="soy" name="soy" type="checkbox">
                    <label for="soy">Soy</label>
                </dd>
                <dd>
                    <input id="eggs" name="eggs" type="checkbox">
                    <label for="eggs">Eggs</label>
                </dd>
                <dd>
                    <input id="fish" name="fish" type="checkbox">
                    <label for="fish">Fish</label>
                </dd>
                <dd>
                    <input id="shellfish" name="shellfish" type="checkbox">
                    <label for="shellfish">Shellfish</label>
                </dd>
            </dl>
            <br><button type="submit"><img class= "search-button" alt="search-button" src="/public/img/search-icon.png"></button>
        </div>
    </form>
    <div class="testimonial">
        <img class="testimonial" src="/public/img/winton.jpg">
        <p>"I love using LeBobaQuest to find nearby boba stores" - Winton</p>
        <img class="testimonial" src="/public/img/krispy.jpg">
        <p>"Thanks to LeBobaQuest I found my favorite boba store within 5 miles" - CP</p>
        <img class="testimonial" src="/public/img/jamy.jpg">
        <p>"As a boba enthusiast, I'm always on the lookout for the best boba joints in town, and LeBobaQuest has been an great tool for finding new spots around town!"- Alex Ha</p>
    </div>
    <footer>
        {{#if loggedIn}}
        <a href="/shop/addShop" class="static-link">Add Shop</a>
        {{/if}}
    </footer>
</main>