<main>
    <h1>{{title}}</h1>
    <form action="/stores" method="POST">
        <label for="stores">Search Boba Stores:</label>
        <input class= "home-search" type="text" name="store" id="store" placeholder= "Kung Fu tea...">
        <button type="submit"><img class= "search-button" src="/public/img/search-icon.png"></button>
    </form>
</main>