<main>
    <h1>{{title}}</h1>
    <form action="/shops" method="POST">
        <label for="shop">Search Boba Stores:</label>
        <input class= "home-search" type="text" name="shops" id="shops" placeholder= "Kung Fu tea...">
        <button type="submit" cla><img class= "search-button" src="/public/img/search-icon.png"></button>
    </form>
</main>