<main>
    {{#with shop}}
    <h2>Submit an item for {{name}}</h2>
    <form id="itemForm" name="itemForm" action="/shop/{{_id}}/itemForm" method="POST"> 
        <div>
            <label for="name">
                Item Name:
            <input id="name" name="name" type="text" autocomplete="off">
        </label>
        </div>
        <div>
            <label for="price">
            Price:
            <input id="price" name="price" type="number" step="0.01" min="0" autocomplete="off">
            </label>
        </div>
        <div>
            <label for="calories">
            Calories:
            <input id="calories" name="calories" type="number" step="1" min="0" autocomplete="off">
            </label>
        </div>
        <div>
            <label for="description">
                <textarea id="description" name="description" placeholder="Write a description..."></textarea>
            </label>
        </div>
        <div>
            <label>Add tags</label>
            <dl id="tagList">
                <dt>Flavors</dt>
                <dd>
                    <input id="taro" name="taro" type="checkbox">
                    <label for="taro">Taro</label>
                </dd>
                <dd>
                    <input id="matcha" name="matcha" type="checkbox">
                    <label for="matcha">Matcha</label>
                </dd>
                <dd>
                    <input id="honeydew" name="honeydew" type="checkbox">
                    <label for="honeydew">Honeydew</label>
                </dd>
                <dd>
                    <input id="mango" name="mango" type="checkbox">
                    <label for="mango">Mango</label>
                </dd>
                <dd>
                    <input id="lychee" name="lychee" type="checkbox">
                    <label for="lychee">Lychee</label>
                </dd>
                <dd>
                    <input id="strawberry" name="strawberry" type="checkbox">
                    <label for="strawberry">Strawberry</label>
                </dd>
                <dt>Toppings</dt>
                <dd>
                    <input id="tapioca" name="tapioca" type="checkbox">
                    <label for="tapioca">Tapioca Pearls</label>
                </dd>
                <dd>
                    <input id="jelly" name="jelly" type="checkbox">
                    <label for="jelly">Jelly</label>
                </dd>
                <dd>
                    <input id="milk_foam" name="milk_foam" type="checkbox">
                    <label for="milk_foam">Milk Foam</label>
                </dd>
                <dt>Temperature</dt>
                <dd>
                    <input id="iced" name="iced" type="checkbox">
                    <label for="iced">Iced</label>
                </dd>
                <dd>
                    <input id="hot" name="hot" type="checkbox">
                    <label for="hot">Hot</label>
                </dd>
                <dt>Type</dt>
                <dd>
                    <input id="milk" name="milk_tea" type="checkbox">
                    <label>Milk Tea</label>
                </dd>
                <dd>
                    <input id="fruit_tea" name="fruit_tea" type="checkbox">
                    <label for="fruit_tea">Fruit Tea</label>
                </dd>
                <dd>
                    <input id="coffee" name="coffee" type="checkbox">
                    <label for="coffee">Coffee</label>
                </dd>
                <dd>
                    <input id="slush" name="slush" type="checkbox">
                    <label for="slush">Slush</label>
                </dd>
                <dd>
                    <input id="vegan" name="vegan" type="checkbox">
                    <label for="vegan">Vegan</label>
                </dd>
            </dl>
            <h4>Common Allergens</h4>
            <dl id="allergenList">
                <dt></dt>
                <dd>
                    <input id="gluten" name="gluten" type="checkbox">
                    <label for="gluten">Gluten</label>
                </dd>
                <dd>
                    <input id="dairy" name="dairy" type="checkbox">
                    <label for="dairy">Dairy</label>
                </dd>
                <dd>
                    <input id="peanuts" name="peanuts" type="checkbox">
                    <label for="peanuts">Peanuts</label>
                </dd>
                <dd>
                    <input id="treenuts" name="treenuts" type="checkbox">
                    <label for="treenuts">Tree Nuts</label>
                </dd>
                <dd>
                    <input id="sesame" name="sesame" type="checkbox">
                    <label for="sesame">Sesame</label>
                </dd>
                <dd>
                    <input id="mustard" name="mustard" type="checkbox">
                    <label for="mustard">Mustard</label>
                </dd>
                <dd>
                    <input id="soy" name="soy" type="checkbox">
                    <label for="soy">Soy</label>
                </dd>
                <dd>
                    <input id="eggs" name="eggs" type="checkbox">
                    <label for="eggs">Eggs</label>
                </dd>
                <dd>
                    <input id="fish" name="fish" type="checkbox">
                    <label for="fish">Fish</label>
                </dd>
                <dd>
                    <input id="shellfish" name="shellfish" type="checkbox">
                    <label for="shellfish">Shellfish</label>
                </dd>
            </dl>
        </div>
        <button type="submit" name="submitButton" id="submitButton" class="save">Submit</button>
    </form>
    <div id="error" hidden>{{error}}</div>
    <footer>
        <a href="/shop/{{_id}}">Back to Shop</a>
    </footer>
    {{/with}}
</main>