<main>
    <section class="login">
        <form action="/user/login" method="POST" class="logSign">
        <h2>Sign in to Boba Fettch</h2>
            {{#if error}}
                <p class="error">{{error}}</p>
            {{/if}}
            <label for="emailOrUsername">Username or Email:</label><br>
            <input type="text" name="emailOrUsername" id="emailOrUsername" value="{{emailOrUsername}}" autocomplete="on" required>
            <br>
            <label for="password">Password:</label><br>
            <input type="password" name="password" id="password" autocomplete="on" required>
            <br>
            <button type="submit" class="save">Login</button>
        </form>
    </section>
</main>