<main>
    <section class="login">
        <form action="/user/login" method="POST" class="logSign">
        <h2>Sign in to LeBobaHub</h2>
            <label for="emailOrUsername">Username or Email:</label>
            <input type="text" name="emailOrUsername" id="emailOrUsername" value="{{emailOrUsername}}" autocomplete="on" required>
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" autocomplete="on" required>
            <button type="submit" class="save">Login</button>
            {{#if error}}
                <p class="CSerror">{{error}}</p>
            {{/if}}
        </form>
        <p><a href="/user/signup">Need to signup?</a></p>
        <div id="error" class="CSerror" hidden>Error</div>
    </section>
</main>