<main>
    <section>
        <form class="login" action="IDK" method="POST">
            <label for="login"><h2>Sign in to Boba Panda</h2></label>
            <input type="text" name="username" id="username" placeholder="Username">
            <input type="text" name="password" id="password" placeholder="Password">
            <button type="submit">Login</button>
        </form>
    </section>
</main>