<main>
    <h1>{{title}}</h1>
    <body>
        <form method="POST" action="/signup" class="signup">
            <label for="usernameInput">
                Username
                <br>
                <input type="text" name="usernameInput" id="usernameInput">
            </label>
            <br>
            <label>
                Password
                <br>
                <input type="text" name="passwordInput" id="passwordInput">
            </label>
            <br>
            <input type="submit" value="Create account!">
        </form>
    </body>
</main>