* {
    box-sizing: border-box;
}
  
html,
body {
    font-size: 14pt;   
}

h1 {
    font-size: 2.5rem;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
}

body {
    background-color: #fbf8f3;
    font-family: Helvetica, Arial, sans-serif;
}

p.review-body {
    color: gray;
}

p.comment-body {
    color: blue;
}

footer{
    text-align: center;
}

input.search-bar {
    width: 80%;
    background-color: transparent;
    padding: 14px 20px;
    margin: 8px 0;
    border: 2px solid #000000;
    border-radius: 18px;
    cursor: pointer;
}

input[type="text"] {
    border-radius: 5px;
}

input[type="email"] {
    border-radius: 5px;
}

input[type="url"] {
    border-radius: 5px;
}

input[type="tel"] {
    border-radius: 5px;
}

.logSign input[type="text"] {
    font-size: 14px;
}

.logSign input[type="email"] {
    font-size: 14px;
}

.logSign input[type="password"] {
    font-size:14px;
}

input[type="password"] {
    border-radius: 5px;
}

button {
    padding: 5px 10px;
    background-color: transparent;
    border: 2px solid #000000;
    border-radius: 13px;
    cursor: pointer;
    font-size: 1rem;
}

button[type="submit"] {
    border: 2px solid #000000;
    background-color: transparent;
    cursor: pointer;
    vertical-align: middle;
}

button.save {
    margin-top: 4px;
    transition: all 0.3s ease-in-out;
}

button.save:hover {
    background-color: #e0ad9f;
}

button.login {
    background-color: transparent;
    float: right;
    transition: all 0.3s ease-in-out;
}

button.login:hover {
    background-color: #E0AD9F;
}

button.book {
    background-color: transparent; 
    transition: all 0.3s ease-in-out; 
    float: right;
}

button.book:hover {
    background-color: #2c0703;
    color: #ffffff;
}

button.unbook {
    background-color: #2c0703;
    color: #ffffff;
    transition: all 0.3s ease-in-out;
    float: right;
}

button.unbook:hover {
    background-color: transparent;
    color: #000000;
}

button.flag {
    float: right;
    margin-right: 5px;
    transition: all 0.3s ease-in-out;
}

button.flag:hover {
    background-color: #ff0000;
    color: #ffffff;
}

button.delete {
    background-color: #ff0000;
    color: #ffffff;
    margin-top: 10px;
    display: block;
    margin: auto;
    transition: all 0.3s ease-in-out;
}

button.delete:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px #000000;
}

button.signup {
    background-color: #ef9480;
    float: right;
    margin-left: 3px;
    transition: all 0.3s ease-in-out;
}

button.signup:hover {
    background-color: #e76a4e;
}

button.home {
    background-color: #ef9480;
    float: left;
    margin-right: 3px;
    transition: all 0.3s ease-in-out;
}


button.home:hover {
    background-color: #d84f30;
}

button.addShop {
    float: center;
}

button.editInfo{
    transition: all 0.3s ease-in-out;
}

button.editInfo:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px #000000;
}

img.search-button {
    width: 30px; 
    height: 30px;
}

form.signup form.login{
    text-align: center;
}

a.static-link, a.static-link:visited {
    color: #0000EE; 
}

.error {
    color: red;
    text-align: center;
    font-size: 4em;
    font-family:    'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 0%;
    margin-top: 0%;
}

.CSerror {
    color: red;
    font-size: 16px;
}

ul.error {
    list-style-type: none;
    font-size: 1em  ;
}

img.error {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

section.login {
    text-align: center;
}

.reviewdate {
    float: left;
    
}

#container {
    width: 50%;
    margin: 20px auto;
    padding: 20px;
    border: 2px solid #948887;
    box-shadow: 0 2px 2px #000000;
    border-radius: 10px;
    text-align: center;
}

#newContainer {
    width: 40%;
    margin: 20px auto;
    padding: 20px;
    border: 2px solid #948887;
    border-radius: 10px;
    text-align: center;
}

.tel-link {
    font-style: italic;
}

ol {
    counter-reset: item;
    list-style-type: none;
    padding-left: 0;
    margin-top: 20px;
}

textarea {
    resize: none;
    width: 60%;
    height: 6rem;
    margin-top: 10px;
}

table {
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 8px;
}