* {
    box-sizing: border-box;
}
  
html,
body {
    font-size: 14pt;   
    font-family: Helvetica, Arial, sans-serif;
}

h1 {
    font-size: 2.5rem;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
}

h2, h3, h4 {
    margin-bottom: 3px;
}

p.review-body {
    color: gray;
}

p.comment-body {
    color: blue;
}

footer{
    text-align: center;
}

.addShop {
    text-align: center;
    margin-top: 1%;
    margin-bottom: 1%;
    font-size: 1.1em;
}

form.logSign {
    width: 40%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    text-align: center;
    font-size: 1.2rem;
}

form.logSign h2,
#itemForm h2 {
    margin-bottom: 20px;
    text-align: center;
}

#itemForm {
    width: 50%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    text-align: left;
    font-size: 1.2rem;
}

#itemForm textarea {
    width: 100%;
}

#itemForm dt{
    margin-bottom: 2px;
    margin-top: 4px;
}

#itemForm #allergenList {
    font-size: 1rem;
}

#addShop-form {
    width: 50%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    text-align: left;
    font-size: 1.2rem;
}

form.logSign label {
    display: block;
    margin-bottom: 5px;
    margin-top: 5px;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="password"],
input[type="submit"],
input[type="number"] {
    border-radius: 5px;
    border-radius: 5px;
    height: 1.3rem;
    width: 12rem;
    margin-bottom: 10px;
}

button {
    padding: 5px 10px;
    background-color: transparent;
    border: 2px solid;
    border-radius: 13px;
    cursor: pointer;
    font-size: 1rem;
}

button.save {
    margin-top: 5px;
    transition: all 0.3s ease-in-out;
    margin-bottom: 4px;
    display: block;
    margin: 0 auto;
}

button.save:hover {
    background-color: #e0ad9f;
}

button.signup {
    background-color: #ef9480;
    float: right;
    margin-left: 3px;
    transition: all 0.3s ease-in-out;
}

button.signup:hover {
    background-color: #e76a4e;
}

button.login {
    background-color: transparent;
    float: right;
    transition: all 0.3s ease-in-out;
}

button.login:hover {
    background-color: #E0AD9F;
}

button.book {
    background-color: transparent; 
    transition: all 0.3s ease-in-out; 
    float: right;
}

button.book:hover {
    background-color: #2c0703;
    color: #ffffff;
}

button.unbook {
    background-color: #2c0703;
    color: #ffffff;
    transition: all 0.3s ease-in-out;
    float: right;
}

button.unbook:hover {
    background-color: transparent;
    color: #000000;
}

button.flag {
    float: right;
    margin-right: 5px;
    transition: all 0.3s ease-in-out;
}

button.flag:hover {
    background-color: #ff0000;
    color: #ffffff;
}

button.home {
    background-color: #ef9480;
    float: left;
    margin-right: 3px;
    transition: all 0.3s ease-in-out;
}


button.home:hover {
    background-color: #d84f30;
}

button.addShop {
    float: center;
}


.error {
    color: red;
    text-align: center;
    font-size: 4em;
    font-family:    'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 0%;
    margin-top: 0%;
}

.CSerror {
    color: red;
    font-size: 16px;
}

ul.error {
    list-style-type: none;
    font-size: 1em  ;
}

img.error {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

img.flag {
    flex: 1;
    max-width: 4%;
    height: 1.5rem;
    margin-left: 10px; 
}

section.login {
    text-align: center;
}

.reviewdate {
    float: left;
    
}

#container2 {
    width: 50%;
    margin: 20px auto;
    padding: 20px;
    border: 2px solid #948887;
    box-shadow: 0 2px 2px #000000;
    border-radius: 10px;
    text-align: center;
}

#newContainer {
    width: 40%;
    margin: 20px auto;
    padding: 20px;
    border: 2px solid #948887;
    border-radius: 10px;
    text-align: center;
}

.tel-link {
    font-style: italic;
}

ol {
    counter-reset: item;
    list-style-type: none;
    padding-left: 0;
    margin-top: 20px;
}

textarea {
    resize: none;
    width: 60%;
    height: 6rem;
    margin-top: 10px;
    padding: 10px;
}

table {
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 8px;
}


/*Styling for homepage search container*/
#container {
    width: 10   0%;
    margin: 20px auto;
    padding: 20px;
    border: 2px solid #948887;
    box-shadow: 0 2px 2px #000000;
    border-radius: 10px;
    text-align: center;
    flex: 1;
}

input.search-bar {
    width: 80%;
    background-color: transparent;
    padding: 14px 20px;
    margin: 8px 0;
    border: 2px solid;
    border-radius: 18px;
    cursor: pointer;
}

.filter {
    flex: 1;
    padding: 0 5%; 
    box-sizing: border-box; 
}

#minReviews,
#minLikes {
    width: 3%;
    text-align: center;
}

#allergenList {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
}

#allergenList dd {
    flex: 0 0 16%; 
    margin-bottom: 10px;
}

img.search-button {
    width: 30px; 
    height: 30px;
}

/*styling for the hompage*/
.testimonial {
    display: flex;
    justify-content: center;
}

.testimonial p {
    max-width: 10%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.1rem;
}

.testimonial img{
    float: left;
    width: 15%;
    height: 15%;
    margin-left: 1%;
    margin-right: 1%;
    border-radius: 7%;
}

/* style rules for the user page*/
#userEdit {
    margin-left: .5%;
}

.bio {
    margin-top: 1.1%;
}

.bio,
.password,
.oldPassword,
.address {
    margin-bottom: 1%;
}

#password,
#oldPassword {
    width: 12rem;
}

#address {
    width: 25%;
}

#pfp-container {
    text-align: left;
    margin: 0 auto;
    margin-bottom: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pfp {
    width: 175px;
    height: 175px;
    border-radius: 50%;
}

.profile-pictures {
    text-align: center;
}

button.pfp-option {
    padding: 0px 0px;
    background-color: transparent;
    cursor: pointer;
    border-color: transparent;
    border-radius: 0%;
    margin-right: 1px;
}

img.pfp-option {
    width: 100px;
    height: 100px;
}

/*Styling for store page*/
.addItem {
    margin-bottom: 10px;
}

#menu {
    margin: 0 auto; /* Center the table horizontally */
    width: 50%;
}

#container3 {
    width: calc(60%);
    margin: 20px auto;
    padding: 10px;
    border: 2px solid #948887;
    box-shadow: 0 2px 2px #000000;
    border-radius: 10px;
    text-align: center;
}
#title {
    margin-bottom: 5px;
}

/*Styling for the leaderboard*/
#leaderboard {
    text-align: center;
}

.leaderboard_header {
    margin-bottom: 1%;
}

#my_coolratings_table {
    margin: 0 auto;
    width: 80%;
}
