* {
    box-sizing: border-box;
}
  
html,
body {
    font-size: 14pt;
}
  
h1 {
    font-size: 2.5rem;
    text-align: center;
}

body {
    background: #ffffff;
    font-family:  Arial, sans-serif;;
}

p.review-body {
    color: gray;
}

p.comment-body {
    color: blue;
}

input[type="text"] {
    width: 80%;
    background-color: #ffffff;
    padding: 14px 20px;
    margin: 8px 0;
    border: 2px solid #000000;
    border-radius: 18px;
    cursor: pointer;
}

button {
    padding: 5px 10px;
    background-color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 13px;
    cursor: pointer;
    font-size: 1rem;
}

button[type="submit"] {
    padding: 5px 10px;
    border: 2px solid #000000;
    cursor: pointer;
}

button.login {
    background-color: transparent;
    float: right;
}

button.login:hover {
    background-color: #ffe4c4b4;
}

button.signup {
    background-color: #d20000;
    float: right;
    margin-left: 3px;
}

button.signup:hover {
    background-color: red;
}

img.search-button {
    margin-left: 0px;
    width: 30px; 
    height: 30px;
}
